/* GLOBAL STYLES FOR NEW WORDPRESS ADDITIONS */
/* All of these will have a "backend" */
/* Also, many of them will have classes, which can be prefixed with a "r-" */

/* STYLES GOTTEN FROM WORDPRESS GRAPHQL REQUEST (Content of post)

Text: 
  <p> text </p>
Bold: 
  <strong> text </strong>
Italic: 
  <em> text </em>
Inline Link (url, eg. wikipedia.org): 
  <a href=$src data-type="URL" data-id=url> text </a>

  *Note: data-* doesn't change appearance (https://www.dofactory.com/html/a/data#null).
Img:
  <figure class="wp-block-image size-_">
    <img 
      decoding="async" 
      loading="lazy" 
      width=$width 
      height=$height
      src=$src
      alt=""
      class="wp-image-86"
      srcset=...stuff       // <-- You figure out this stuff
      sizes="(max-width: 1024px) 100vw, 1024px"
    />
  </figure>
Unordered Lists:
  <ul>
    <li>text</li>
    ...
  </ul>
Ordered Lists:
  <ol>
    <li> text </li>
    ...
  <ol>
Tables:
  <figure class="wp-block-table">
    <table>
      <tbody>
        <tr>
          <td>Row 1 Col 1</td>
          <td>Row 1 Col 2</td>
          <td>Row 1 Col 3</td>
          ...
        </tr>
        <tr>
          <td>Row 2 Col 1</td>
          ...
        </tr>
        ...
      </tbody>
    </table>
    <figcaption class="wp-element-caption"> Table Caption </figcaption>
  </figure>
Highlighting:
  <mark ...> text </mark>
*/

/* HOME */

p.backend.r-home-content {
  text-align: left;
  width: 80%;
  margin: auto;
}

/* ABOUT */

div.backend.r-about-content {
  text-align: left;
  width: 80%;
  margin: auto;
}

div.backend.r-about-profiles {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  flex-wrap: wrap;
  margin-bottom: 5rem;
  flex-direction: row;
  justify-content: center;
}

table.backend.r-about-table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 75%;
  border: 1px solid;
  background-color:whitesmoke;
}

table.backend.r-about-table r-about-evenRow {
  background-color:white;
}

table.backend.r-about-table r-about-oddRow {
  background-color:whitesmoke;
}

/*MAYBE  ADD SOMETHING HERE FOR PROFILES*/

/*RESOURCES (main)*/





/* Img */
/* Add a 'r-image' class */
