.upcomingHeading{
    margin-left: 20px;
}

.pastHeading{
    margin-left: 20px;
}

.cardcontainer{
    overflow: hidden;
}

.cards{
    margin-top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
}