.federalheading {
    margin-left: 20px;
}

.federalsectionheading {
    margin-left: 30px;
    text-decoration: underline;
}

.federalsectioncontent {
    margin-left: 40px;
}

.factsheet {
    border: 0 none;
    font-weight: 700;
    font-family: 'Lato';
    font-style: normal;
    color: #363d77;
    text-decoration: underline;
}