.heroHeader {
    composes: imgWrapper from './utils.module.css';
    width: 100%;
    height: 87vh; /* Find the right height to work with the picture */
    position: relative;
}

.heading {
    /* position: relative; */
    top: 90px;
    color: rgb(55, 62, 111);
    font-size: 2em;
    font-weight: 900;
}

#heroImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    background-color: whitesmoke;
    background-attachment: fixed;
}

#heroImgText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

#heroImgText h1 {
    font-size: 56px;
    padding: 15px;
    /* color: var(--cyan); */
    color: white;
}

#heroImgText p {
    padding: 15px 15px 25px;
}

#heroImgText hr {
    width: 50px;
    background-color: #e45541;
    height: 3px;
    border: none;
}

.wrapperTwo {
    animation: slideTwoAnim 20s infinite;
}

.wrapperThree {
    animation: slideThreeAnim 20s infinite;
}

@keyframes
slideTwoAnim {
    0%{opacity:0;}
    17%{opacity:0;}
    33%{opacity:1;}
    50%{opacity:1;}
    67%{opacity:0;}
    100%{opacity:0;}
}

@keyframes
slideThreeAnim {
    0%{opacity:0;}
    17%{opacity:0;}
    33%{opacity:1;}
    50%{opacity:1;}
    67%{opacity:0;}
    100%{opacity:0;}
}

