#main {
  width: 100%;
  height: fit-content;
  background-color: aqua;
}

.sectionHeaderImg {
  /*
  width: 80%;
  height: 50px;
  */
  background-color: GREEN;
  background-image: url("../public/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  /*margin: auto;*/
  /* background-color: green; */
}