/*
:root{
  use for background, foreground, accents, etc
}
*/

.wholeNav {
  position: relative;
  width: 100vw;
  height: 80px;
  background: rgba(55, 62, 111, 0.75);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.styledLink {
  padding-left: 1rem;
  padding-right: 1rem;
}

.styledLink:hover {
  font-weight: bold;
  font-size: 0.95em;
}

.commissionLogo {
  /* font-family: 'Roboto Slab', serif; */
  margin-top: -0.5rem;
  font-size: 2rem;
}

.nav {
  /* font-family: 'Roboto Slab', serif; */ /* I don't really like this font, so I'm commenting it out for now */
  font-size: 1.6rem;
  position: absolute;
  top: -1rem;
  right: 11rem;
  width: 300px;
  border: 3px;
  padding: 10px;
}

.nav li {
  display: inline;
}

/*NCOD glitches into home at 446px - looks unnatrual, though i dont believe phone resolutions go that low*/
/*mobile devices*/
@media (max-width: 578px) {
  .wholeNav {
    position: sticky;
    height: 80px;
    background: rgba(55, 62, 111, 0.75);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }

  .commissionLogo {
    left: 0rem;
    margin-top: -0.3rem;
    font-size: 1.5rem;
  }

  .nav {
    font-size: 1.1rem;
    position: absolute;
    top: 0rem;
    right: 4rem;
    width: 300px;
    border: 3px;
    padding: 10px;
  }

  .styledLink {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
