.container {
    display: flex;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.verticalProfiles {
    flex-direction: column;
    width: 400px;
    height: 400px;
}

.heading {
    text-align: center;
    font-size: larger;
}

.img {
    /* width: 50%; */
    height: 200px;
    text-align: center;
}

.imgNormal {
    margin-left: 2.5rem;
}

.imgFlipped {
    margin-right: 2.5rem;
}

.desc {
    width: auto;
    margin-top: 10px;
    margin-right: 2rem;
    text-align: justify;
    font-size: small;
}
