.verticalProfiles {
    flex-direction: column;
    width: 400px;
    height: 400px;
}

.aboveImage{
    text-align: center;
    font-size: larger;
}

.img{
    width: 50%;
    height: 50%;
    text-align: center;
    margin-left: 25%;
}

.belowImage {
    font-size: xx-small;
    margin-top: 10px;
    text-align: justify;
}

