.imageWrapper {
  width: 80%;
 
  background-color: white;
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; */

  margin: auto;
  margin-bottom: 0.5em;
}

.image {
  object-fit: contain;
  width: 100%;
  position: relative;
  height: unset;
  /* Aspect Ratio: 978 X 53 */
  /* Ratio between image width and my viewport width: 978/1280 */
}

.section {
  margin-top: 1rem;
}

/* TODO: Add this style to children, perhaps in div. This will keep all children within the Section bounds. */
.content {
  text-align: left;
  width: 80%; /* 80% - Margin till ends of section, children can have additional margin to squeeze content further. */
  margin: auto;
}

.header {
  /* margin-block-start: 0; */
  margin-top: 0;
  margin-bottom: 0.25rem;
  text-align: center;
  font-family: 'Libre Baskerville', sans-serif;  /* Just uses Libre Baskerville as font */
  font-weight: normal;
  text-align: center;
}

.subheader {
  margin-top: 0;
  margin-bottom: 0.5rem;
  text-align: center;
  composes: contentFont from 'utils.module.css';
  font-style: italic;
}

/* STYLING INSIDE CONTENT */

/* For inline links */
.content p > a {
  color: rgb(51, 102, 204);
  text-decoration: none;
}

.content p > a:hover {
  text-decoration: underline;
}

/* For resource page link headers */
.content h3 > a {
  color: rgb(55, 62, 111);
  text-decoration: none;
}

.content h3 > a:hover {
  text-decoration: underline;
}

.content img {
  width: 100%;
}