.img {
  width: 80%;
  height: 50px;
 
  background-color: rgb(233, 255, 154);
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; */

  margin: auto;
  margin-bottom: 0.5rem;
}

.section {
  margin-top: 1rem;
}

.header {
  /* margin-block-start: 0; */
  margin-top: 0;
  margin-bottom: 0.25rem;
  text-align: center;
  font-family: 'Libre Baskerville', sans-serif;  /* Just uses Libre Baskerville as font */
  font-weight: normal;
  text-align: center;
}

.subheader {
  margin-top: 0;
  margin-bottom: 0.5rem;
  text-align: center;
  composes: contentFont from 'utils.module.css';
  font-style: italic;
}