.header {
  /* margin-block-start: 0; */
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  composes: contentFont from './utils.module.css';  /* Just uses Libre Baskerville as font */
  font-weight: normal;
}

.subheader {
  text-align: center;
  composes: contentFont from 'utils.module.css';
}