.contentFont {
    font-family: 'Libre Baskerville', Times, serif
}

.headingFont {
    font-family: 'Oxygen', Arial, sans-serif;
}

.back {
    z-index: -1;
}

.bgWhite {
    background-color: white;
}

.blue {
    background-color: blue;
}

.center {
    text-align: center;
}

.imgWrapper {
    position: relative;
    /* border: 10px solid blue; To Test */
}

.borderless {
    margin: none;
    border: none;
    padding: none;
}

.flex-base {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.flexBase {
    composes: flex-base;
}

.inlineLink {
    color: rgba(59, 130, 246);
    text-decoration: inherit;
}

.inlineLink:hover {
    text-decoration: underline;
}